.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.sang > input {
    height: 15px;
    width: 15px;
    border-radius: 3px!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 4px;;
    outline: none;
    transition-duration: 0.3s;
    background-color: #9bc1e7;
    cursor: pointer;
}

.chieu > input {
    height: 15px;
    width: 15px;
    border-radius: 3px!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #2281e0;
    cursor: pointer;
}
.nghi > input {
    height: 15px;
    width: 15px;
    border-radius: 3px!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #eaab64;
    cursor: pointer;
}
.sang > input:checked {
    border: 1px solid #9bc1e7;
    background-color: #9bc1e7;
}
.chieu > input:checked {
    border: 1px solid #2281e0;
    background-color: #2281e0;
}
.nghi > input:checked {
    border: 1px solid #eaab64;
    background-color: #eaab64;
}
.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 0.3rem;
    top: 0rem;
    font-size: 13px;
    font-weight: 800;
}

.checkbox > input:active {
    border: 2px solid #34495E;
}
ul,li{
    margin-top:0!important;
    margin-bottom: 0!important;
    padding-top:0!important;
    padding-bottom: 0!important;
}
